{
    "extends": "@antfu",
    "rules": {
      "semi": ["error", "always"],
      "no-new": "off",
      "no-debugger": "off",
      "no-restricted-syntax": "off",
      "curly": "off",
      "brace-style": "off",
      "@typescript-eslint/no-this-alias": "off",
      "@typescript-eslint/brace-style": "off",
      "@typescript-eslint/object-curly-spacing": ["error"],
      "@typescript-eslint/semi": ["error", "always"],
      "react/no-unknown-property": "off",
      "no-unused-vars": "off",
      "@typescript-eslint/no-unused-vars": "off",
      "react/jsx-key":"off"
    }
}
